header{
    display: flex;
    height: 6em;
    width: 100%;
    background-color: aquamarine;
    justify-content: space-between;
    
}
/* Potential attributions */
nav{
    display: inline;
    height:3em;
    width: 20%;
    text-align: center;
    padding-top: 2em;
    font-weight: bold;
    color: purple;
}
/* Potential attributions */
header div{
    display: inline;
    height:3em;
    width: 20%;
    text-align: center;
    padding-top: 2em;
    font-weight: bold;

}

main{
    margin-left: 30%;
    margin-right: 30%;
    background-color: aquamarine;
    height:30em;
    margin-top: 10em;
    text-align: center;
    
}


#box-title h1{
    font-size:2em;
    padding-top: 2em;

}

#description{
 line-height: 1.5;
 font-size: 20px;
 margin: 4%;

}
#startBtn{
    color:white;
    background-color: purple;
    font-size: 30px;
    padding: 2px;
    border-radius:10px;
}


