header{
    display: flex;
    height: 6em;
    width: 100%;
    background-color: aquamarine;
    justify-content: space-between;
    
}
/* Potential attributions */
nav{
    display: inline;
    height:3em;
    width: 20%;
    background-color:black
}
/* Potential attributions */
header Div{
    display: inline;
    height:3em;
    width: 20%;
    background-color:black
}

main{
    margin-left: 10%;
    margin-right: 10%;
    background-color: aquamarine;
    height:30em;
    margin-top: 10em;
}